@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap&effect=emboss');
@import url('https://fonts.googleapis.com/css2?family=Inter&effect=emboss');

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    padding: 35px;
    height: 100vh;
    font-family: "Inter", sans-serif;
}

.header{
    margin-bottom: 10px;
}

.header img{
    height: 40px;
}

.main{
    flex:1;
    display: flex;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}

.nav{
    display: flex;
    flex-direction: column;
    padding: 40px 0 ;
    background-color: #dad6d677;
    border-radius: 30px;
    box-shadow: 0 18px 21.9px #00000023;
    gap: 2rem;
}

.nav_title{
    color:#D6D3D3;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}

.nav_list{
    display: flex;
    padding-left: 130px;
    flex-direction: column;
    list-style-type: none;
    gap:0.1rem;
}

.nav_list_option{
    padding: 18px 80px 18px 40px;
    border-radius: 15px 0 0 15px;
}
.nav_list_option a{
    color: #1E3231;
    font-size: 1.25rem;
    text-decoration: none;
}

.nav_list_option a i{
    width: 15px;
    margin-right: 20px;
}

.active{
    background: linear-gradient(90deg, rgba(244,172,69,0.5) 0%, rgba(146,191,177,0.5) 100%);
    box-shadow: 0 2px 3px #00000015;
}

.active a{
    color: #aa9c7c;
}

.nav hr{
    margin: 0 80px;
    color: #1E3231;
}

.nav_btn_container{
    display: flex;
    justify-content: center;
}

.btn{
    padding: 14px 30px;
    background-color: #fff;    
    border: solid 1px #DAD6D6;
    text-align: center;
    color: #1E3231;
    font-size: 1.25rem;
    border-radius: 68px;
}

.sections_container{
    display: flex;
    flex: 1; 
    max-height: 75%;
    margin-left: 4rem;
    overflow: auto;
}

.home_container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: #1E3231;
}

.home_about{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home_about_title h1{
    font-size: 3rem;
    font-weight: 900;
    color: #1E3231;
}

.home_about_title p{
    font-size: 1.3rem;
}

.home_about_text{
    margin-right: 100px;
    font-size: 1rem;
}

.home_about_text p{
    text-align: justify;
}

.home_about_social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home_about_social_media{
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
}

.home_about_social_media a{
    color: #1E3231;
    outline: none;
    text-decoration: none;
}

.home_about_social_email{
    display: flex;
    gap: 6px;
    align-items: center;
}

.home_about_social_email textarea{
    padding-top: 15px;
    width: 60%;
    text-align: center;
    font-size: 1rem;
    color: #1E3231;
    border: solid 1px #DAD6D6;
    border-radius: 15px;
    resize: none;
}

.circle-btn{
    padding: 10px;
    background-color: #fff;    
    border: solid 1px #DAD6D6;
    text-align: center;
    color: #1E3231;
    font-size: 1rem;
    border-radius: 200px;
}

.home_avatar{
    padding: 10px;
    background: linear-gradient(90deg, rgba(244,172,69,0.5) 0%, rgba(146,191,177,0.5) 100%);
    border-radius: 15px;
}


.skills_container{
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #1E3231;
}

.section_title{
    margin-bottom: 20px;
}

.section_title h1{
    font-size: 3rem;
    font-weight: 900;
    color: #1E3231;
}

.section_title p{
    font-size: 1rem;
}

.skills_container hr{
    margin: 0 80px 20px 0;
    color: #1E3231;
}

.skills_container h2{
    margin:30px 0 10px 0;
    font-size: 1.5rem;
}

.skills_container h2 i{
    margin-right: 10px;
}

.skills_container_section{
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

.skill_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border: solid 1px #DAD6D6;
    border-radius: 15px;
    gap: 5px;
}

.skill_card i{
    font-size: 28px;
    background: -webkit-linear-gradient(90deg, rgba(244,172,69,0.5) 0%, rgba(146,191,177,0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill_card p{
    font-size: 10px;
    font-weight: 800;
}

.config_container{    
    position: relative;
    top: -30vh;
}

.config{
    
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    background-color: #dad6d677;
    border-radius: 13px;
    box-shadow: 0 18px 21.9px #00000023;
    gap: 10px;
}

.hidden{
    display: none;
}